@import "../../static/scss/_colors.scss";
@import "../../static/scss/_fonts.scss";

.login {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;

  :is(.images, .form) {
    width: 50%;
    height: 100%;
  }

  .images {
    //background-image: linear-gradient(to right bottom, $darkBlue, $lightBlue);
    background-image: linear-gradient(to right bottom, $lightBlue, $lightBlue);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light;

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      margin-top: 25%;
      text-align: center;

      :is(h3) {
        font-family: $poppins;
        font-weight: 600;
        text-align: center;
      }

      :is(h6) {
        font-family: $montserrat;
        font-weight: 300;
        margin-top: 5%;

        a {
          font-family: $montserrat;
          font-weight: 300;
          color: $light;
        }
      }

    }
  }

  .form {
    background: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;

    h1 {
      font-family: $poppins;
      font-weight: 400;
    }

    h4 {
      font-family: $poppins;
      font-weight: 300;
      color: $secondary;
      width: 50%;
      text-align: center;
    }

    .fields {
      margin-top: 10%;
      width: 60%;

      div {
        display: flex;
        flex-direction: row;
        border: 1px solid $secondary;
        border-radius: 7px;
        padding: 0.5em;
        margin: 1em 0;

        input {
          padding: 0.5em;
          border: none;
          width: 90%;
          font-family: $poppins;
        }

        img {
          width: 5%;
          aspect-ratio: 1/1;
          margin-left: 2%;
          filter: $secondary_filter;
        }
      }

      h6 {
        color: $orange;
        font-family: $poppins;
        font-weight: 400;
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      button {
        font-family: $poppins;
        width: 100%;
        background: $orange;
        color: $light;
        height: 40px;
        border: none;
        border-radius: 10px;
        margin: 1em 0;
      }
    }
  }
}