@import "../../static/scss/_colors.scss";
@import "../../static/scss/_fonts.scss";

.documents {
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  background: $background_dashboard;
  display: flex;
  flex-direction: row;

  .content {
    width: 94vw;
    height: 100vh;

    .list {
      background: $light;
      width: 88vw;
      height: fit-content;
      min-height: 150px;
      margin: 1.7em auto;
      padding: 1em;

      .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 1em 0;

        button {
          border: none;
          border-right: 0;
          background: $orange;
          padding: 0.5em 1em;
          color: $light;
          font-family: $poppins;
        }

        button:hover {
          cursor: pointer;
        }
      }
    }
  }
}



.singleProject {
  background: $background_dashboard;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  margin: 1em 0;
  justify-content: space-between;

  .nameAndId {
    :is(small, h3) {
      font-family: $poppins;
      color: $darkBlue;
    }
  }

  button {
    border: none;
    border-right: 0;
    padding: 0.5em 1em;
    color: $orange;
    font-family: $poppins;
  }

  button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}