@import '../../static/scss/_colors.scss';
@import '../../static/scss/_fonts.scss';

.users-list {
  background: $background_dashboard;
  display: flex;
  flex-direction: row;

  .content {
    width: 94vw;
    max-height: fit-content;
    min-height: 100vh;
    background: $background_dashboard;

    .list {
      background: $light;
      width: 88vw;
      height: fit-content;
      min-height: 150px;
      margin: 1.7em auto;
      padding: 1em;

      .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 1em 0;

        button {
          border: none;
          border-right: 0;
          background: $orange;
          padding: 0.5em 1em;
          color: $light;
          font-family: $poppins;
        }

        button:hover {
          cursor: pointer;
        }
      }
    }
  }
}