@import '../../static/scss/_colors.scss';
@import '../../static/scss/_fonts.scss';

nav {
  background: $light;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid $secondary_opacity;

  img {
    height: 60%;
    margin-left: 10%;
  }
}