@import "../../static/scss/_colors.scss";
@import "../../static/scss/_fonts.scss";

.sidebar {
  height: 100vh;
  min-width: fit-content;
  width: 6vw;
  background: $light;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0.7em;

  ul {
    list-style: none;
  }

  img {
    width: 30px;
    aspect-ratio: 1/1;
    filter: $secondary_filter;
    margin: 1.5em 0;
  }

  img:hover {
    cursor: pointer;
  }

  .active {
    filter: $darkBlue_filter;
  }
}