@import "../../static/scss/_colors.scss";
@import "../../static/scss/_fonts.scss";

.projectDetails {
  background: $background_dashboard;
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-width: fit-content;
  height: 100vh;

  .content {
    width: 94vw;
    height: 100vh;

    h4 {
      font-family: $poppins;
      margin-left: 2.7em;
      font-weight: 300;
      color: $orange;
    }

    .all-lists {
      display: flex;
      flex-direction: row;

      .list {
        background: $light;

        // 88vw / 3
        width: 29.3vw;
        height: fit-content;
        min-height: 150px;
        margin: 1.7em auto;
        padding: 1em;

        .buttons {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 1em 0;

          button {
            border: none;
            border-right: 0;
            background: $orange;
            padding: 0.5em 1em;
            color: $light;
            font-family: $poppins;
            margin: 0 0.25em;
          }

          button:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.SingleRow {
  background: $background_dashboard;
  min-height: 100px;
  width: 27vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  margin: 1em 0;
  justify-content: space-between;

  .nameAndId {
    :is(small, h3) {
      font-family: $poppins;
      color: $darkBlue;
    }
  }

  h5 {
    border: none;
    border-right: 0;
    padding: 0.5em 1em;
    font-family: $poppins;
    font-weight: 400;
  }
}

.comprado, .enviado {
  color: green;
}

.naoComprado, .naoEnviado{
  color: red;
}