$darkBlue : #022954;
$darkBlue_filter : invert(8%) sepia(76%) saturate(3264%) hue-rotate(202deg) brightness(101%) contrast(98%);
$darkBlue_opacity : rgba(34, 132, 255, 0.58);
$lightBlue : #0c5fb4;
$orange: #FF793C;
$textColor: #030303;
$light: #FFF;
$light_filter : invert(100%) sepia(6%) saturate(7469%) hue-rotate(4deg) brightness(124%) contrast(125%);
$secondary: #8E8E93FF;
$secondary_opacity : rgba(142, 142, 147, 0.53);
$secondary_filter : invert(58%) sepia(6%) saturate(177%) hue-rotate(202deg) brightness(95%) contrast(95%);;

// Dashboard
$background_dashboard : #efefef;