@import "../../static/scss/_colors.scss";
@import "../../static/scss/_fonts.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;

  .main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-height: fit-content;
    min-height: 100vh;
    background: $background_dashboard;

    .content {
      display: flex;
      flex-direction: column;
      background: $background_dashboard;
      width: 94vw;

      .body {
        padding: 1.7em;

        .top-squares {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: nowrap;
        }
      }
    }
  }
}



// Large Square Component
.large-square {
  background: $light;
  width: 15em;
  aspect-ratio: 1/1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.3em;
  margin: 0.5em;

  .top {
    div {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $darkBlue_opacity;

      img {
        padding: 0.4em;
        filter: $light_filter;
        aspect-ratio: 1/1;
      }
    }
  }

  .middle {
    :is(p, h3, h1) {
      font-family: $poppins;
    }

    p {
      font-weight: 300;
    }

    h1 {
      font-weight: 500;
    }
  }

  .bottom {
    small {
      font-family: $poppins;
      color: $secondary;
      font-weight: 200;
    }
  }
}