@import "../../static/scss/_colors.scss";
@import "../../static/scss/_fonts.scss";

.titleComponent {
  width: 100%;
  padding-left: 2.7em;
  padding-top: 1.7em;

  h1 {
    color: $darkBlue;
    font-family: $poppins;
    font-weight: 400;
  }
}